# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual env
venv/
.env/
.env.*
.Python

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/interim/
data/processed/
outputs/

# Models
*.pth

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# dotenv
.env

# Ignore sensitive configs if any
configs/*.secret
